<div class="app-wrapper">
  <div class="header flex row-container">
    <div class="title flex justify col-container">
      <h1>
        UNCOMMONSIGHT
      </h1>
    </div>
    <div class="nav flex col-container">
      <ul *ngIf="nav">
        <a [routerLink]="['home']"><li>Home</li></a>
        <a [routerLink]="['black']"><li>B&W</li></a>
        <a [routerLink]="['white']"><li>W&B</li></a>
        <a [routerLink]="['blog']"><li>Blog</li></a>
        <a [routerLink]="['kanye']"><li>Kanye</li></a>
        <a [routerLink]="['login']"><li>Login</li></a>
      </ul>
      <i (click)="onClick()" class="menu-toggle-btn fas fa-bars"></i>
    </div>
  </div>

  <div class="content router">
    <router-outlet></router-outlet>
  </div>
  
  <div class="footer">
      <h5><span style="color: #55efc4">&copy;</span> John Rosas, uncommonsight 2020 <a href="https://www.instagram.com/uncommonsight/" target="blank"><i class="fab fa-instagram ig"></i></a></h5>
  </div>
</div>
