<div class="user-wrapper">
    <div class="imgs">
      <div class="user">
         <img src="../../../../assets/images/u21.jpg">
      </div>
      <div class="user">
         <img src="../../../../assets/images/u22.jpg">
      </div>
      <div class="user">
         <img src="../../../../assets/images/u23.jpg">
      </div>
      <div class="user">
         <img src="../../../../assets/images/u24.jpg">
      </div>
      <div class="user">
         <img src="../../../../assets/images/u25.jpg">
      </div>
      <div class="user">
         <img src="../../../../assets/images/u26.jpg">
      </div>
    </div>
    <div class="logout">
       <button (click)="logout()">Logout</button>
    </div>
 </div>
