.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.post-title {
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    padding-top: 5px;
}

.post-body {
    padding: 10px;
    text-align: center;
}

.post-date {
    padding: 10px;
    text-align: center;
}